body {
    font-family: Arial, sans-serif;
    background-color: #bdff8d;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #28a745;
    color: white;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.container {
    background-color: #36d059;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 100px auto 0;
}

input {
    width: 60px;
    padding: 10px;
    margin: 5px;
}

button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: #218938;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #1a682c;
}

#resultados {
    margin-top: 20px;
    font-size: 1.2em;
    color: white;
}

table {
    width: 100%;
    margin: 10px 0;
    border-collapse: collapse;
}

td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
