body {
    font-family: Arial, sans-serif;
    background-color: #ed568c;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

header {
    background-color: #9b0e40;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 100px;
    width: 80%;
}

.inputs {
    background-color: #c5004699;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    color: white;
}

#resultados {
    background-color: #c5004699;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 55%;
    margin-left: 20px;
    text-align: left;
    color: white;
}

input {
    width: 60px;
    padding: 8px;
    margin: 5px;
    text-align: center;
}

button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: #880332;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #51152d;
}

table {
    width: 100%;
    margin: 10px 0;
    border-collapse: collapse;
}

td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
